.p-15{
    padding:15px
}
#galery-container{
    height:950px;
    margin-top:42px;
    margin-left:105px;
    margin-right:105px;
}
.btn-container{
    margin-top:80px;
}
.btn{
    border:solid #2d2d2d 1px;
    padding: 18px 45px;
    color:  #2d2d2d;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size:14px;
    text-decoration: none;
}
.sq-grey{
    display:inline-block;
    height:7px;
    width: 20px;
    z-index: 9;
    background-color: #ebebeb;
    transform: translateY(-18px);
    margin-left:-290px;
}